@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  -end-rgb: 255, 255, 255; */
  --background-app-color: #093545;
  --foreground-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: var(--foreground-color);
  background: var(--background-app-color); */
  @apply text-white bg-background  font-normal;
}
